{% extends 'main_template.html' %}

{% block header %}
<h1>{% block title %}Cadastrar pessoa{% endblock %}</h1>
{% endblock %}

{% block content %}

<form action="adicionar_coelho">
    <p>
        nome: <input type="text" name="nome" value="luna">
    </p>
    <p>
        cor: <input type="text" name="cor" value="cinza">
    </p>
    <p>
        genero: <input type="text" name="genero" value="femea">
    </p>
    <p>
        raca: <input type="text" name="raça" value="holland lop">
    </p>
    <p>
        dono : <input type="text" name="dono" value="Livia">
    </p>

    <button>Cadastrar</button>
</form>

{% endblock %}
