{% extends 'main_template.html' %}

{% block header %}
  <h1>{% block title %}Listagem de coelho {% endblock %}</h1>
{% endblock %}

{% block content %}
  
<p>
    <a href="{{ url_for("form_adicionar_coelho") }}">Cadastrar novo coelho</a>
</p>

<table border="1">
    <tr>
        <td>Nome</td>
        <td>cor</td>
        <td>genero</td>
        <td>raca</td>
        <td>dono</td>
    </tr>

    {% for p in coelho %}
    <tr>
        <td>{{c.nome}}</td>
        <td>{{c.corl}}</td>
        <td>{{c.genero}}</td>
        <td>{{c.raca}}</td>
        <td>{{c.dono}}</td>
    </tr>
    {% endfor %}
    